
.container {
    margin-top: 109px;
}

.one {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}



.two {
    background: lightgray;
    width: 205px;
    height: 268px;
    margin-top: -16px;
}

li {
    list-style-type: none;
    padding: 7px;
    margin-left: -20px;
}

.three {
    /* background-color: burlywood; */
    width: 402px;
    margin-left: 205px;
    margin-top: -268px;
    padding: 19px;
}

.four {
    background-color: black;
    color: white;
    padding: 5px;
    /* margin: auto; */
    text-align: center;
}