.container {
    margin-top: 86px;
}

.FIRST {
    margin: auto;
    background-color: black;
    width: 1200px;
    height: 150px;

}

.a {
    color: white;
}

.b {
    margin-left: 888px;
    margin-top: -43px;
}

input[type="search"] {
    margin: 4px;
    border-radius: 3px;
    border: 3px solid lightcyan;
    margin-left: 40px;
    padding: 3px;
    text-align: center;
}

button {
    background-color: orange;
    color: wheat;
    font-family: ui-monospace;
    font-size: 16px;
    margin-left: 7px;
}

.c {
    /* background-color: lightgray; */
    width: 505px;
    height: 35px;
    padding: 7px;
    margin: 0px;
}


ul {
    list-style-type: none;
    margin-left: -45px;
}
li {
    border: 2px solid white;
    width: 102px;
    text-align: center;
    display: inline;
    padding: 4px;
    margin: 1px;
}

a {
    color: white;
    text-decoration: none;
}


.para2 {
    margin-left: 291px;
    margin-top: 30px;
}

img {
    width: 1200px;
    height: 300px;
}

.THREE {
    /* background-color: lightgreen; */
    width: 1200px;
    margin: auto;
}

.A {
    /* background-color: cadetblue; */
    width: 350px;
    margin-left: 0px;
}

img#img1 {
    width: 115px;
    height: 115px;
}

#p {
    width: 217px;
    margin-top: -119px;
    margin-left: 130px;
}

a.para3\.2 {
    color: orange;
    margin-left: 266px;
}

.B {
    /* background-color: bisque; */
    width: 350px;
    margin-left: 425px;
    margin-top: -236px;
}

img#img1 {
    width: 115px;
    height: 115px;
}

#p {
    width: 217px;
    margin-top: -119px;
    margin-left: 130px;
}

a.para3\.2 {
    color: orange;
    margin-left: 266px;
}

.C {
    /* background-color: whitesmoke; */
    width: 350px;
    margin-left: 850px;
    margin-top: -236px;
}

img#img1 {
    width: 115px;
    height: 115px;
}

#p {
    width: 217px;
    margin-top: -119px;
    margin-left: 130px;
}

a.para3\.2 {
    color: orange;
    margin-left: 266px;
}

.para4 {
    /* background-color: blue; */
    width: 545px;
    margin-left: 292px;
    margin-top: 50px;
}

.para4 a{
    color: orange;
}

.para4\.1 {
    /* background-color: darkorange; */
    width: 600px;
    margin-left: 890px;
    margin-top: -205px;
}


img#IMG {
    width: 211px;
    height: 143px;
    border: 2px solid black;
    padding: 3px;
}

.para4\.2 {
    /* background-color: burlywood; */
    width: 348px;
    margin-left: 252px;
    margin-top: -177px;
}

a.para4\.3 {
    color: orange;
    margin-left: 516px;
}

.FIVE {
    background-color: black;
    width: 1200px;
    height: 55px;
    margin: auto;
    color: white;
    margin-top: 59px;
    padding: 4px;
}
.foot1 {
    /* background-color: blue; */
    width: 1024px;
    margin-top: 17px;
}

.foot2 {
    margin-left: 1027px;
    margin-top: -20px;
    /* background-color: blue; */
}