.container{

    /* background-color: black; */
    width: 1300px;
    margin: auto;
    
}

.a {
    background-color: black;
    color: white;
    /* margin: auto; */
    padding: 9px;
    margin-top: 100px;
    /* margin-left: 3px; */
    height: 95px;
}

.b {
    /* background-color: lightgray; */
    width: 650px;
    padding: 3px;
    margin-left: 630px;
    margin-top: -66px;
    text-align: center;
}

li {
    list-style-type: none;
    display: inline;
    padding: 11px;
    margin: auto;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
    /* border: 2px solid white; */
    padding: 5px;
    margin: auto;
}


.para2 {
    background-color: darkgray;
    width: 371px;
    height: 255px;
}

.A {
    margin: 27px;
    font-size: 17px;
    padding-top: 1px;
}

a.B {
    margin-left: 247px;
    color: orange;
}

img {
    width: 898px;
    height: 257px;
    margin-left: 400px;
    margin-top: -233px;
}

.one {
    /* border: 2px solid yellow; */
    width: 368px;
    height: 401px;
    /* background-color:lightgray; */
    /* overflow: auto; */
}

#para3-1 img {
    border: 2px solid red;
    width: 150px;
    height: 150px;
    margin-left: 0px;
    margin-bottom: -130px;
    overflow: auto;
    /* float: left; */
}

.para3-2 {
    width: 204px;
    float: right;
    margin-top: -46px;
}

a.para3-3 {
    margin-left: 273px;
    color: yellow;
}

.two {
    /* border: 2px solid yellow; */
    width: 368px;
    height: 401px;
    /* background-color:lightgray; */
    /* overflow: auto; */
    float: right;
    margin-top: -400px;
}

#para3-1 img {
    border: 2px solid red;
    width: 150px;
    height: 150px;
    margin-left: 0px;
    margin-bottom: -130px;
    overflow: auto;
    /* float: left; */
}

.para3-2 {
    width: 204px;
    float: right;
    margin-top: -46px;
}

a.para3-3 {
    margin-left: 273px;
    color: yellow;
}

.three {
    /* border: 2px solid yellow; */
    width: 368px;
    height: 401px;
    /* background-color:lightgray; */
    /* overflow: auto; */
    float: right;
    margin-top: -400px;
    margin-right: 100px;
}

#para3-1 img {
    border: 2px solid red;
    width: 150px;
    height: 150px;
    margin-left: 0px;
    margin-bottom: -130px;
    overflow: auto;
    /* float: left; */
}

.para3-2 {
    width: 204px;
    float: right;
    margin-top: -46px;
}

a.para3-3 {
    margin-left: 273px;
    color: yellow;
}


.div1 {
    /* background-color: chocolate; */
    width: 260px;
    height: 300px;
}


img.para4\.1 {
    width: 245px;
    height: 100px;
    margin-left: 8px;
    margin-top: 5px;
}

.para4\.2 {
    width: 264px;
    margin: 9px;
}

a.para4\.3 {
    color: orange;
    margin-left: 138px;
}

.div2 {
    /* background-color: chocolate; */
    width: 260px;
    height: 300px;
    margin-left: 344px;
    margin-top: -300px;
}


img.para4\.1 {
    width: 245px;
    height: 100px;
    margin-left: 8px;
    margin-top: 5px;
}

.para4\.2 {
    width: 264px;
    margin: 9px;
}

a.para4\.3 {
    color: orange;
    margin-left: 138px;
}

.div3 {
    /* background-color: chocolate; */
    width: 260px;
    height: 300px;
    margin-left: 694px;
    margin-top: -300px;
}


img.para4\.1 {
    width: 245px;
    height: 100px;
    margin-left: 8px;
    margin-top: 5px;
}
.para4\.2 {
    width: 264px;
    margin: 9px;
}

a.para4\.3 {
    color: orange;
    margin-left: 138px;
}

.div4 {
    /* background-color: chocolate; */
    width: 260px;
    height: 300px;
    margin-left: 1039px;
    margin-top: -300px;
}


img.para4\.1 {
    width: 245px;
    height: 100px;
    margin-left: 8px;
    margin-top: 5px;
}

.para4\.2 {
    width: 264px;
    margin: 9px;
}

a.para4\.3 {
    color: orange;
    margin-left: 138px;
}

.FIVE {
    background-color: black;
    color: white;
    height: 36px;
    padding: 18px;
}

.foot2 {
    margin-left: 1090px;
    margin-top: -18px;
}

