 .containar{
    /* background-color: aqua; */
    margin: auto;
    width: 1500px;
    padding: 70px;
    border: 1px solid;
    /* background-color: lightgrey; */
    height: 2000px;
    
 }

 .first{
    background-color: black;
    color: whitesmoke;
    border: 1px solid;
 }

 
 .a {
    margin-left: 144px;
    padding: 17px;
    /* background-color: darkgoldenrod; */
    width: 222px;
}

.b {
    border: 35px solid;
    background-color: darkgray;
    width: 700px;
    margin-left: 561px;
    color: black;
    margin-bottom: 9px;
    margin-top: -146px;
}
ul{
    /* margin: 10px; */
    padding: 15px;
    height: 40px;

}

li{
    border: 2px solid;
    width: 100px;
    list-style-type: none;
    display: inline;
    padding: 1px;
    margin: 21px;
}


.second{
    width: 1500px;
    margin: auto;
    overflow: auto;
}


img {
    height: 362px;
    width: 960px;
    padding: 34px;
    margin-left: 241px;
}

.third {
    width: 1500px;
    overflow: auto;
    margin: auto;
    margin-left: 284px;
}

.child1{
    width: 300px;
    float: left;
    /* background-color: cadetblue; */

}

#A img {
    width: 300px;
    height: 180px;
    margin-left: -35px;
    /* float: left; */
    /* background-color: blue; */
}

.para3 {
    /* color: red; */
    margin: auto;
    margin-top: -43px;
    width: 289px;
}

.para3 a {
    color: orange;
    float: right;
    margin-top: 35px;
    margin-right: 32px;
}

.child2 {
    width: 300px;
    float: left;
    margin-left: 19px;
    /* background-color: cadetblue; */
}

#B img {
    width: 300px;
    height: 180px;
    margin-left: -33px;
    /* float: left; */
}

.paraB {
    /* color: red; */
    margin: auto;
    margin-top: -43px;
    width: 289px;
}

.paraB a {
    color: orange;
    float: right;
    margin-top: 35px;
    margin-right: 32px;
}

.child3 {
    width: 300px;
    float: left;
    /* background-color: cadetblue; */
    margin-left: 19px;
}

#C img {
    width: 300px;
    height: 180px;
    margin-left: -35px;
    /* float: left; */
}

.paraC {
    /* color: red; */
    margin: auto;
    margin-top: -43px;
    width: 289px;
}

.paraC a {
    color: orange;
    float: right;
    margin-top: 35px;
    margin-right: 32px;
}

.four {
    /* border: 3px solid red; */
    height: 250px;
    width: 950px;
    margin: 28px;
    padding: 27px;
    margin-left: 233px;
}

.one {
    /* color: red; */
    width: 483px;
    float: left;
    margin-top: -21px;
    font-size: 17px;
    /* font-weight: 100px; */
    /* background-color: orange; */
}

#para4 a{
    color: orange;

}

#jesus{
    color: orange;
    float: right;
}

.two{
     height: 250px;
     width: 400px;
    background-color: slateblue;
    float: right;

}

/* .pic{

    width: 200px;
    height: 200px;
} */


.five {
    /* border: 3px solid red; */
    background: lightslategrey;
    color: white;
    width: 1500px;
    overflow: auto;
    margin: 0 auto;
    /* padding: 38px; */
}

#para5 {
    background-color: yellow;
    margin-left: 254px;
}


#id1 {
    float: left;
    width: 200px;
    /* background-color: orange; */
    padding: 11px;
    /* margin: auto; */
}


#id2 {
    width: 200px;
    float: left;
    padding: 11px;
    /* background-color: brown; */
    margin: 12px;
    margin-top: 0px;
    margin-left: 20px;
}
#id3 {
    width: 200px;
    float: left;
    padding: 12px;
    /* background-color: chartreuse; */
    color: white;
    margin: 0px;
    margin-left: 12px;
}


#id4 {
    float: left;
    width: 200px;
    padding: 11px;
    /* background-color: darkorchid; */
    margin-left: 22px;
}

.anc1 a{
     text-decoration: none;
    color: orange;
}

.six {
    background-color: black;
    color: white;
    overflow: auto;
    margin: 0px;
    padding: 31px;
    font-size: large;
}



.foot1 {
    float: left;
    margin-left: 230px;
}

.foot2 {
    float: right;
    margin-right: 262px;
}










    




