* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.mob-table {
    max-width: 800px;
    padding: 20px 25px;
    background-color: #fff;
    margin: 30px 0;
    border-radius: 3px;
    /* box-shadow: 0 1px 1px rgb(0, 0, 0, 0.05); */
}

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #435d7d;
    color: #fff;
    padding: 16px 30px;
}

.add {
    background-color: #5cb85c;
    color: white;
}

.th {
    text-align: center;
    columns: #566787;

}

.btn {
    padding: 3px 20px;
    min-width: 90px;

}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}