body{
    color: #fff;
    /* font-family: sans-serif; */
    background: #000;
}

 loader div Css */
.loader{
    margin:0 auto;
    position: relative;
    width: 75px;
    height: 75px;
    margin-top: 100px;
    border: solid 5px dotted transparent;
    border-top: solid 5px rgb(255, 0, 157);
    border-radius: 50px;
    -webkit-animation: mid 1.5s linear infinite;
}
@-webkit-keyframes mid{
    0%{
        transform: rotatez(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
    }
}  */
/* .loader::after{
    content:'';
    display: block;
    margin:0 auto;
    position: absolute;
    width: 80px;
    height: 80px;
    top:10px;
    left: 10px;
    border: solid 5px dotted transparent;
    border-left: solid 5px blue;
    border-radius: 50px;
    -webkit-animation: down 1.5s linear infinite;
}
@-webkit-keyframes down{
    0%{
        transform: rotatez(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
    }
} 
.loader{
    content:'';
    display: block;
    margin:0 auto;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 40px;
    left: 40px;
    border:  8px dotted transparent;
    border-left: dotted 10px green;
    border-radius: 300px;
    -webkit-animation: top 2s  linear infinite;
}

@-webkit-keyframes top{ 
    0%{
        transform: rotatez(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
    }
} 
/* .loader{
    margin:0 auto;
    position: relative;
    width: 125px;
    height: 125px;
    margin-top: 150px;
    border: solid 5px dotted transparent;
    border-top: solid 5px rgb(255, 0, 170);
    border-radius: 70px;
    -webkit-animation: left 1.5s linear infinite;
}
@-webkit-keyframes left{
    0%{
        transform: rotatez(40deg);
        -webkit-transform: rotateZ(1018deg);
    }
    100%{
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
    }
} 




  /* glowing div Css */
.glow{
    display: block;
    margin: 0 auto;
    position: relative;
    top: -53px;
    width: 20px;
    height: 20px;
    border-radius:50px;
    background: #fff;
    box-shadow: 0px 0px 10px 6px #fff;
    -webkit-animation: glowing 10s linear infinite;
}

@-webkit-keyframes glowing{
    0%{
        background:green;
        box-shadow: 0px 0px 10px 6px crimson;
    }
    14%{
        background: #fff;
        box-shadow: 0px 0px 10px 6px #fff;
    }
    28%{
        background:indigo;
        box-shadow: 0px 0px 10px 6px #000;
    }
    42%{
        background: #ff3f18;
        box-shadow: 0px 0px 10px 6px #ff3f18;
    }
    56%{
        background:yellow;
        box-shadow: 0px 0px 10px 6px slateblue;
    }

    60%{
        background: #1ff22a;
        box-shadow: 0px 0px 10px 6px aqua;
    }
    76%{
        background:brown;
        box-shadow: 0px 0px 10px 6px saddlebrown ;
    }
    88%{
        background: #ed23ff;
        box-shadow: 0px 0px 10px 6px #2377ff ;
    }
    100%{
        background: rgb(243, 3, 3);
        box-shadow: 0px 0px 10px 6px gray ;
    }
}

  /* Text Div Css */
.text{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    text-shadow: 5px 4px 9px 12px rgb(224, 21, 21);
}
.text::after{
    content: '..';
    -webkit-animation: dots 2.5s linear infinite;
}

@-webkit-keyframes dots{
    0%{
        content:'.';
    }
    10%{
        content:'..' ;
    }
    20%{
        content:'...';
    }
    40%{
        content:'....';
    }
    60%{
        content:'.....';
    }
    80%{
        content:'......';
    }
    100%{
        content:'.......';
    }
}
.glow {
    font-size: 13px;
    /* text-align: center; */
    padding: 11px;
}
